 <div class="container" role="content">

      <div class="row">
      	<div id="message" class="span11">
      		<div id="message-inner">
      			<h2>Privacy Policy</h2>

				<div id="privacy-policy">
					<p>Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
					</p>

					<ol>
					   <li>Before or at the time of collecting personal information, we will identify the purposes for which information is being collected and obtain personal information as long as necessary for fulfillment of these purposes.</li>
					   <li>We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.</li>
					   <li>TailorMed will not sell or disclose your name or email address to third parties without your explicit consent, except as specified in this privacy policy.</li>
					   <li>TailorMed collects personal information when you register to use TailorMed services or to post content on TailorMed. At registration you are asked for your email address and certain other optional information.</li>
					   <li>We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.</li>
					   <li>TailorMed automatically receives and records information on our server logs from your browser, including your IP address, cookies, and the pages you request. This data is only used in the aggregate.</li>
					   <li>TailorMed uses information for the following general purposes: products and services provisioning, billing, identification and authentication, services improvement, contact, research, and anonymous reporting. IP addresses are automatically reported by your browser each time you view a web page</li>
					</ol>

				</div>







      		</div>
      	</div>

      </div>
