<div id="form">
<%= render 'form', :coworker_request => @coworker_request %>
</div>

<h1>Listing coworker_requests</h1>

<div id="what-i-need">
	<h3>What i Need</h3>
	<ul class="looking-for">
		<%= render @coworker_requests %>
	</ul>
</div>